/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap'); */
/* @import url('https://css.gg/chevron-down.css'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Source+Code+Pro:wght@900&display=swap');

header {
  background-color: #008cff;
  /* content-visibility: auto; */
  display: flex;
  max-height: 56px;
  margin-left: 1em;
  margin-top: 1em;
  z-index: 1;
  position: absolute;
}

/* header > p{
  font-family: 'Lato', sans-serif;

} */

body {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: Arial;
  /* background-image: url("/img/fondo.png"); */
  background-color: #008cff;
}

.content{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}


h1 {
  color:  rgb(255, 255, 255);
  font-family: "Bree Serif", serif;
}

h7 {
  display: block;
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  /* font-weight: bold; */
  color:  rgb(255, 255, 255);
}

footer {
  background-color: #008cff;
  content-visibility: auto;
  display: block;
  /* position: absolute; */
  width: 100%;
  bottom: 0px;
}

a {
  text-decoration: none;
  outline: 0;
  font: inherit;
  color:  rgb(255, 255, 255);
  display: contents;
}

section{
  color:  rgb(255, 255, 255);
}

.img_whatsapp{
  max-height: 103px;
}

.logo_header {
   /* background-color: white; */
  max-width: 56px;
  margin-right: 1em;
} 

/* .logo_centro {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.h1_titulo{
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  /* margin-block-start: 0; */
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .h1_titulo {
    display: none;
  }
}

.datos {
  background-color: #005ba3;
  color:  rgb(255, 255, 255);
  margin-top: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0em 1em 0em 1em;
  border-radius: 5px;
}

/* .contacto {
  display: flex;
  align-items: stretch;
  /* color: wheat; */
/*position: fixed;
} */

/* .contacto {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  line-height: 21px;
  vertical-align: baseline;
} */

.contact_details {
  /* float: right; */
  max-width: 20em;
  float: LEFT;
display: block;
}

/* .social {
  /* float: LEFT; 
  max-width: 20em;
} */

/* .social {
  display: flex;
  float: right;
  align-items: flex-end;
  color: wheat !important;
} */

/* .contact_details {
  display: flex;
  float: left;
  color: wheat !important;
} */

.no {
  font-weight: bold;
}

.no-line {
  margin-block: 0px;
  border-style: dashed none;
}

/* .whatsapp{
  display: none;
}*/

/*@media only screen and (max-width: 768px) { */
/* .whatsapp{
    display: block;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;
  } */
/* } */

.whatsapp {
  display: block;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}

#h1margen{
  margin-left: 1em;
}

#h7margen{
  margin-bottom: 0;
  margin-top: 0;
}

.copyright_politicas > p, .pol{
  font-size: 10px;
  color:  rgb(255, 255, 255);
}

.icono_flecha{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color:  rgb(255, 255, 255);
  z-index: 1;
}

.flecha{
  display: flex;
  justify-content: center;
  align-items: center;

}

.clases{
  display: flex; 
  background-color: #005eac;
  /* padding-top: 1em; */
   padding-bottom: 1em; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.clases > h1{
  color: yellow;
}

.precios{
  display: flex;
  background-color: rgb(255, 255, 255);
  /* font-weight: bold; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #38761d; 
  font-family: 'Source Code Pro', 'Arial'; 
  font-size: 14pt; 
  font-weight: 900; 
  vertical-align: baseline;

}

.precios > ul > li{
  margin: 1em;
  text-align: center;
}
.precios > p{
  color: #3c78d8;
  font-family: 'Courier New', 'Arial';
  font-size: 12pt;
}

li{
  list-style-type: none;
}
ul{
  padding-inline-start: 0px;
}

.centrar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centrar > iframe{
  position: relative;
  width: 1000px;
  margin-right: 0;
  align-content: center;
  margin-top: 1.5em;
}

.blanco{
  background-color:  rgb(235, 233, 233);
}

.clases_p{
  padding-bottom: 5em;

}

.clases_p > p{
  color: #0000ff; 
  font-family: 'Georgia'; 
  font-size: x-large;
  vertical-align: baseline;
  text-align: center;
  font-weight: bold;
}

.icono_face {
  height: 100px;
  width: 100px;
}

.icono_insta {
  height: 100px;
  width: 100px;
}

button{
  background-color: rgba(30,108,147,1);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  width: 400px;
}

hr{
  color: rgb(217,217,217);
  width: 1000px;
  size: 1px;
  margin-top: 1em;
display: block;
}

.principal{
  background-color: rgb(0,140,255);
  width:95vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_nav{
  padding: 1em 2em;
  position: relative;
  right: -123vh;
}

.derecha{
  float: right;
  margin-left: 0.5em;
}

.izquierda{
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  margin-top: 0.25em;
}
